.inline-block {
	display: inline-block;
	vertical-align:top;

}
.topMenu{
	padding:10px;
	text-align:center;
}


.topMenu > li {
	padding:8px;
	background-color: lightblue;
	border: black solid 1px;
	margin: 1px;
	}

.bottomMenu{
	color:white;
	padding:10px;
	text-align:center;
	vertical-align:top;
}


.bottomMenu > li {
	padding:8px;
	background-color: rgb(15, 16, 17);
	border: black solid 1px;
	margin: 1px;
	}
body{
	background-color: #00f7b1;
	margin: 0px;
}

.logo{
	width: auto;
	text-align: center;
}

.Navigation {	
	width: 97%;
	padding: 1%;
	
}

.heroImg{
	height: 600px;
	padding: 25px;
	background-color: #06aa24;
}

.content{
	width:500px;
	margin:0 auto;
	background-color:aliceblue;
	text-align: center;
}

footer{
	background-color: #373738;
	padding:0.125%;
}